.App {
  text-align: center;
}

.result{
  height: 60px;
  background-color: rgb(128, 124, 124);
  width: 100%;
}
.result p{
  font-size: 50px;
}
.calc-body{
  max-width: 400px;
  margin: auto;
}
.buttions{
  display: block;
  background-color: #bbb;

}
.buttions button{
  width: 25%;
  height: 60px;
  font-size: 23px;
}
/* .head{

  i
} */